*{
    margin: 0px;
    padding: 0px;
}

.container{
    
    width: 100%;
    background-color: red;
    display: inline-block;

}

.card{
    height: 100px;
    width: 20%;
    background-color: gray;
    display: inline-block;
}

/* media queries for laptop  */

@media (max-width:1200px){
    
    .card{
        width: 100%;
    }

}


/* media queries for mobile  */

@media (max-width:420px) {

    .card{
        width: 19%;
    }


}
